services:
  - type: web
    name: healthoracle
    env: python
    buildCommand: pip install -r requirements.txt && python manage.py collectstatic --noinput
    startCommand: gunicorn HealthOracle.wsgi --timeout 120 --workers 2 --threads 2 --worker-class sync
    envVars:
      - key: DJANGO_SECRET_KEY
        sync: false  # Set this in Render dashboard
      - key: GEMINI_API_KEY
        sync: false  # Set this in Render dashboard