services:
  - type: web
    name: healthoracle
    env: python
    buildCommand: pip install -r requirements.txt && python manage.py collectstatic --noinput
    startCommand: gunicorn HealthOracle.wsgi
    envVars:
      - key: DJANGO_SECRET_KEY
        value: django-insecure-t!-y&-7$irvlvl8_cza6c9soy(^8ptr+sm1(!7@2s0br^h56w2
      - key: GEMINI_API_KEY
        value: AIzaSyBg0erT664pZ_fQCcGQhqzsmRbnR-gfPDQ